<div class="row">
  <div class="col-md-6">
    <ul class="list-group" *ngIf="lists != undefined">
      <a class="list-group-item" style="..." *ngFor="let key of lists.keys()">
        {{key}}
        <button class="btn btn-xs btn-primary pull-right" (click)="onSelectList(key)">View List</button>
      </a>
    </ul>
  </div>
  <div *ngIf="listSelected" class="col-md-6">
    <ul class="list-group">
      <li *ngFor="let item of items.keys()">{{item}} : x{{items.get(item).getQuantity()}}</li>
    </ul>
  </div>
</div>
