<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedProduct?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedProduct?.name}}</h1>
  </div>
  <div *ngIf="!editList" class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToCart()">Add to Cart</button>
    <button class="btn btn-secondary" (click)="onSaveToList()">Save For Later</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
  <div *ngIf="editList">
    <select (change)="onSelect($event.target.value)">
      <option>Select Shopping List</option>
      <option *ngFor="let list of lists?.keys()" value="{{list}}">{{list}}</option>
    </select>
    <button class="btn btn-sm btn-success" (click)="onAddToList()" [disabled]="selectedList === undefined">Add</button>
    <button class="btn btn-primary" (click)="newList = true">Create New List</button>
    <div *ngIf="newList">
      <label>List Name</label>
      <input type="text" #listName>
      <button class="btn btn-success" (click)="onCreateList(listName.value)">Create</button>
      <button class="btn btn-danger" (click)="newList = false">Cancel</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedProduct?.description}}</p>
  </div>
</div>
<div class="row" *ngIf="selectedProduct != undefined">
  <div class="col-xs-12">
    <h3>Included with this Order:</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedProduct?.inclusions">{{item.name}} x{{item.quantity}}</li>
    </ul>
  </div>
</div>
