<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedProduct?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedProduct?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToCart()">Add to Cart</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedProduct?.description}}</p>
  </div>
</div>
<div class="row" *ngIf="selectedProduct != undefined">
  <div class="col-xs-12">
    <h3>Included with this Order:</h3>
    <ul>
      <li *ngFor="let item of selectedProduct?.inclusions">{{item.name}} x{{item.quantity}}</li>
    </ul>
  </div>
</div>
